APP_ROOT=/
APP_PORT_EXT=3001
APP_USERPROFILE_ENABLED=false
APP_USERPROFILE_URL=http://userprofile.learninglab.eu

MONGO_PORT_EXT=27017
MONGO_GUI_PORT_EXT=4602

MONGO_ROOT_USER=moi
MONGO_ROOT_PWD=monsupermotdepassesecret

MONGO_APP_USER=laweb
MONGO_APP_PWD=motdepasseapplicatif
MONGO_DB_NAME=lawebdb
MONGO_HOST=localhost
