# Avec docker-compose, c'est le port par lequel le service sera disponible
# Sans, c'est le port qu'utilisera l'application
APP_PORT_EXT=3000

# root de base. Si APP_ROOT=/toto, alors 
# l'application sera disponible sur http://example.com/toto/
APP_ROOT=/

# Paramètre de connexion à la DB
# Si docker-compose, définissez juste des valeurs sûr (mot de passe robuste)
# docker-compose se chargera de créer la DB avec ces identifiants et de connecter l'application
# Sans docker, vous devrez rentrer ici les identifiants de la DB préalablement installée
MONGO_APP_USER=laweb
MONGO_APP_PWD=motdepasseapplicatif
MONGO_DB_NAME=lawebdb
MONGO_HOST=db
MONGO_PORT_EXT=27017


STRAT_URL=http://localhost:2022