# Avec docker-compose, c'est le port par lequel le service sera disponible
# Sans, c'est le port qu'utilisera l'application
APP_PORT_EXT=3001

# root de base. Si APP_ROOT=/toto, alors 
# l'application sera disponible sur http://example.com/toto/
APP_ROOT=/

# Nom de l'hôte (URL)
# Utilisé pour les redirection lors de l'authentification
APP_HOST=http://srvresult.example.com

# URL pour accéder au front end
# Utilisé pour les redirection lors de l'authentification
FRONT_HOST=http://ihmresult.example.com

# Paramètre de connexion à la DB
# Si docker-compose, définissez juste des valeurs sûr (mot de passe robuste)
# docker-compose se chargera de créer la DB avec ces identifiants et de connecter l'application
# Sans docker, vous devrez rentrer ici les identifiants de la DB préalablement installée
MONGO_APP_USER=laweb
MONGO_APP_PWD=motdepasseapplicatif
MONGO_DB_NAME=lawebdb
# nom du service dans docker-compose (clé de premier niveau de services)
MONGO_HOST=db
MONGO_PORT_EXT=27017

# Paramètres du serveur OAuth2
OAUTH2_ENABLED=false
OAUTH2_HOST=http://userprofile.learninglab.eu
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OAUTH2_ACCESS_TOKEN_URI=$OAUTH2_HOST/oauth/token
OAUTH2_AUTHORIZATION_URI=$OAUTH2_HOST/oauth/authorize
OAUTH2_REDIRECT_URI=$APP_HOST/oauth/redirect
OAUTH2_SCOPES=openid # séparé avec des virgules : openid,profile,email
