# Utilisé par docker, pas directement par node
MONGO_PORT_EXT=27017

# TODO : pas sûr que ça doivent être ici. Sauf si .env seul point de configuration.
# Dissocié env pour app et env pour docker
APP_PORT_EXT=3000 # Pour docker
APP_ROOT=/ # Pour app

MONGO_APP_USER=laweb
MONGO_APP_PWD=motdepasseapplicatif
MONGO_DB_NAME=lawebdb
MONGO_HOST=db

STRAT_URL=http://localhost:2022